@font-face {
    font-family: "NorseBold";
    src: url(assets/fonts/Norse-Bold.woff2);
}

:root {
  font-size: 14px;
  --white-text: #fff;
  --headband-background: rgba(0, 0, 0, 0.4);
  --background-lightgrey: #f5f5f5;
  --button-color: #596D48;
  --button-hover-color: #637951;
  --button-active-color:#50633f;
  --input-border: #E5E7EB 1px solid;
  --input-invalid: red 1px solid;
  --input-valid: green 1px solid;
  --input-focus: 1px rgb(107, 98, 233) solid;

}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  padding: 0;
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

body{
  display: flex;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  overflow: hidden;
}

/* VISUAL PART / PICTURES / LOGO / TITLE */

.left-part{
  flex: 1;

  background-image: url(assets/images/marsumilae-e9kPHCJCHM8-unsplash.jpg);
  background-position: top right; 
  background-size:cover;

  color: var(--white-text);

  display: flex;

  position: relative;
}

.right-part{
  flex: 2;
  position: relative;
}

.left-part > div {

  background-color: var(--headband-background);

  position: absolute;
  top: 160px;
  height: 140px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}

.left-part > div > p {
  font-family: "NorseBold", sans-serif;
  font-size: 6rem;
}

.odin-logo{
  height: 110px;
}

.left-part > div + p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;

  width: 100%;
  text-align: center;
  align-self: last baseline;
  margin-bottom: 6px;
  
}

/* link for credit photo */
.left-part > div + p > a {
  color: var(--white-text);
}

/* RIGHT PART */

.right-part div {
  padding-left: 100px;
}

.text-part{
  background-color: var(--background-lightgrey);
  height: 100vh;


  padding-top: 120px;
}

.text-part p{
  line-height: 1.3;
  font-size: 1.5rem;
  font-weight: 550;
}

.text-part span{
  font-style: italic;
}

p.last-upper-text{
  margin: 25px 0 45px 0;
}

p.got-account{
  position: absolute;
  bottom: 120px;

  font-weight: 500;
  font-size: 1.2rem;
}

p.got-account a{
  color: var(--button-color);
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

p.got-account a:hover{
  color:var(--button-hover-color);
}

p.got-account a:focus{
  color: var(--button-active-color);
}

/* FORM-PART */

.form-part{
  background-color: var(--white-text);

  position: absolute;
  top: 300px;
  padding-top: 18px;
  padding-bottom: 20px;
  width: 100%;

  box-shadow: 0px 4px 4px rgb(190, 188, 188);
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

li{
  display: inline-block;
  margin: 0 70px 12px 0;
}

label{
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  margin-bottom: 4px;
}

input{
  width: 240px;
  height: 24px;

  padding-left: 6px;
  

  border: var(--input-border);
  border-radius: 2px;
}

input:invalid{
  border: var(--input-invalid);
}

input:focus{
  outline:none;
  border: var(--input-focus);
  box-shadow: 1px 1px 4px rgb(170, 170, 170);
}

/* Button part */

button{
  background-color: var(--button-color);

  color: var(--white-text);
  font-size: 1rem;
  font-weight: 600;

  
  margin: 28px 0;

  padding: 14px 42px;
  border-radius: 8px;
  border: none;
  box-shadow: 3px 3px 3px rgb(185, 185, 185);

  position: absolute;
  bottom: -120px;
}

button:hover{
  background-color: var(--button-hover-color);
}

button:focus{
  background-color: var(--button-active-color);
}