@font-face {
    font-family: "NorseBold";
    src: url(assets/fonts/Norse-Bold.woff2);
}

:root {
  line-height: 1.5;
  font-size: 14px;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

img {
  display: block;
  max-inline-size: 100%;

}

body{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100vw;
}

/* VISUAL PART / PICTURES / LOGO / TITLE */

.left-part{
  width: 25%;
  height: 100vh;
  background-image: url(assets/images/marsumilae-e9kPHCJCHM8-unsplash.jpg);
  background-position: top right; 
  background-size:cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}


.left-part > div {
  background-color: rgba(0, 0, 0, 0.4) ;
  position: absolute;
  top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.left-part > div > p {
  font-family: "NorseBold", sans-serif;
  font-size: 6rem;
}

.odin-logo{
  width: 20%;
  margin: 12px 0;
}

.left-part > div + p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

/* link for credit photo */
.left-part > div + p > a {
  color: #fff;
}

/* RIGHT PART */


.explanation-part{
  height: 306px;
}

.form-part{
  height: 280px;
}
